<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px; ">
  <header>
    <% include ./partials/_headers %>
  </header>
  <h1>My URLs</h1>
    <u1><% for (let short in urls) { %>
      <table style="height:12px"><strong><%= short %></strong> -----> <%=urls[short].longURL %>
      <a href="/urls/<%= short %>"> edit  </a>
      <form method="POST" action="/urls/<%= short %>/delete">
        <button type="submit" class="btn btn-warning"><strong style="color:red">DELETE 🗑️</strong></button>
      </form>
      </table>
      <% } %>
    </u1>
</body>
</html>